# Variables d'environnement (copier en .env et adapter)

# Image tag
TAG=latest
REGISTRY=gitlab.home.arpa:5050

# WordPress debug mode (0 or 1)
WP_DEBUG=0

# PHP-FPM tuning
PHP_PM_MAX_CHILDREN=50
PHP_MEMORY_LIMIT=256M
PHP_UPLOAD_MAX_FILESIZE=64M

# Timezone
TZ=Europe/Paris
